body{
    color: #fff;
    font-family:sans-serif;
}

h1{
    margin: 3.5% 0 0 6%;
    text-transform: uppercase;
    position: absolute;
    display: block;
    z-index: 2;
}

#img_menu{
    float: right;
    display: absolute;
    margin-top: -20px;
    margin-right: 150px;
}

#principal p:first-of-type{
    font-size: 80px;
    font-weight: 700;
    margin: 15% 0 0 6%;
    position: absolute;
}

#principal p:first-of-type span{
    line-height: 80px;
    width: 900px;
    position: absolute;    
    margin-top: 10px;
}


#principal p:first-of-type span:first-of-type{
    font-size: 101px;
    position: absolute;
    margin-top: -70px;
}

#video_fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
